

@font-face {
  font-family: "Arial - modified";
  size-adjust: 92%;
  
  src: local(Arial);
}

@font-face { /*see https://www.youtube.com/watch?v=zK-yy6C2Nck&t=108s*/
font-family: "mukta";
src: url('assets/fonts/mukta-regular-webfont.woff2') format('woff2'),
url('assets/fonts/mukta-regular-webfont.woff') format('woff');
}

















:root{
    --text-color:aliceblue;
    --background-color:#171e40;

    --green:#7afab4;
    --color1:#171e40;
    --color2:#1d2549;
    --color2:#5e70c9;
    --color3:#404d87;
    --color4:#6e77a0;
    --color5:#4967e9;
    --color6: rgba(13, 17, 39, 0.317);


    --fontWeight-regular:300;
    --fontWeight-semi-bold:400;
    --fontWeight-bold:700;
    



    --menu-image-fill: #4967e9;
    --menu-image-border: rgba(255, 255, 255, 0.15);
    --menu-image-background: #171e40;




}







*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

  img, svg{
  max-width: 100%;
  display:block;
}



  /* for scrollbar*/
::-webkit-scrollbar {
  width: 5px;
    
}
  
::-webkit-scrollbar-thumb {
  background-color: 	#7afab4;
  border-radius: 2px;
}
  
::-webkit-scrollbar-track {
  background-color: var(--color1);
}
  /* for scrollbar*/



body {
  color: var(--text-color);
  background-image: linear-gradient(to right top, #161d3e, #161d3e, #171d3f, #171e3f, #171e3f, #171e3f, #171e3f, #171e3f, #171e3f, #171d3f, #161d3e, #161d3e);
  font-family: "outfit", "mukta", "Arial - modified";
  font-weight: var(--fontWeight-regular);
  font-size: 18px;
  line-height: 1.2;
}

.text_section{
  margin-left: 300px;
}

.timeline_column{
  width:120px;
  position: fixed;
  top: 0;
  left:10px;
  height: 100%;
  border-width: 0 4px 0 0;
  border-color: rgba(255, 255, 255, 0.15);;
  border-style: solid;
}

.timeline_list{
  list-style-type: none;
}


.timeline_list li{
  margin-top: 30px;
  margin-left: 15px;
}

.option_svg{
  fill:var(--menu-image-fill);
  transition: all 90ms ease-out;
  padding: 10px;
  background: var(--menu-image-background);
  cursor: pointer;
}

.option_svg:hover{
  transform: scale(1.12);
  fill:aliceblue;
}

.chosen_option{
  transform: scale(1.12);
  fill:aliceblue;
}


.timeline_sect{
  position:fixed;/*can be fixed or absolute*/
  left:124px;
  display:flex;
  opacity: 0;
  transition:opacity 380ms linear, margin-top 700ms ease-out;
}

.timeline_sect:nth-child(1){
  margin-top:40px;
}
.timeline_sect:nth-child(2){
  margin-top:90px;
}
.timeline_sect:nth-child(3){
  margin-top:140px;
}
.timeline_sect:nth-child(4){
  margin-top:190px;
}
.timeline_sect:nth-child(5){
  margin-top:240px;
}
.timeline_sect:nth-child(6){
  margin-top:290px;
}
.timeline_sect:nth-child(7){
  margin-top:340px;
}
.timeline_sect:nth-child(8){
  margin-top:390px;
}
.timeline_sect:nth-child(9){
  margin-top:440px;
}
.timeline_sect:nth-child(10){
  margin-top:490px;
}
.timeline_sect:nth-child(11){
  margin-top:540px;
}
.timeline_sect:nth-child(12){
  margin-top:590px;
}

.timeline_sect:nth-child(13){
  margin-top:640px;
}




.node{
  --w:8px;
  --border_thickness: 5px;
  outline:0 solid #ced6f7;
  height: 8px;
  width: var(--w);
  background-color: #ced6f7;
  border-radius: 50%;
  margin-top: 13px;
  transition:outline 350ms ease-out, opacity 420ms linear;

}


.node_icon{
  fill: var(--color2);
  width: 33px;
  height: 33px;
  margin-left:15px;
  transition: fill 300ms linear, stroke 300ms linear;

}

.link_icon, .profile_section_icons{
  fill: var(--color2);
  width: 30px;
  height: 30px;
  transition: fill 300ms linear;
}
.link_icon:hover, .profile_section_icons:hover{
  fill: var(--color5);
}

.profile_section_icons{
  width: 40px;
  height: 40px;
}








.section-title{
  letter-spacing: 1px;
  font-size: 55px;
  font-weight: var(--fontWeight-bold);
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: var(--green);
  margin-right: 10px;
}

.section-subtitle{
  margin-top: 5vw;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 21px;
  font-weight: var(--fontWeight-bold);
  color:var(--color2);
}

.list_container{
  background-color:var(--color6);
  margin-right:10px;
  border-radius:10px;
  padding-right:15px;
  padding-left:15px;
  padding-top:15px;
  margin-top:20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.list{
  list-style-type: disc;
  margin-left:25px;
  border-radius: 16px;
  margin-top: 5px;
}
.list li{
  padding-block: 9px;
}
.list li::marker{
  color:var(--color5);
}



.appear{
  transition: visibility 0s, opacity 400ms linear;
}

.dissappear{
  transition: visibility 0s 200ms, opacity 200ms linear;
}


#Education_section{
  visibility: hidden;
  opacity:0;
  top:0;
  position: absolute;
  padding-bottom: 30px;

}


#Projects_section{
  visibility: hidden;
  opacity: 0;
    /*pick the largest one to not be absolute*/
  padding-bottom: 30px;
}

#Professional_section{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top:0;
  padding-bottom: 30px;

}

#Aboutme_section{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top:5vw;
  padding-bottom: 30px;
  background-color:var(--color6);
  border: 1px solid rgba(255, 255, 255, 0.1);


}


.paragraph_link{
  text-decoration:underline;
  color:var(--color5);
}

.date{

  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
  opacity:0.6;
}




